body {
	font-family: 'Courier New', Courier, monospace;
	color: white;
	background: radial-gradient(ellipse at 50% -50%, #fffaac, transparent), radial-gradient(circle at 50% 200%, #163519, #2b7e34 52%, #eee 0%, #93d7e3 85%);
}

#container {
  flex-direction: row;
}

#title {
	font-weight: bold;
	font-size: x-large;
	max-height: 2em;
	text-align: center;
	margin-top: 2em;
	color: #fff;
	text-shadow: 0px 0px 10px black, 0px 0px 10px black;
}

.mcbtn {
	border-top: 5px solid gray !important;
	border-left: 5px solid #989797 !important;
	border-right: 5px solid #363636 !important;
	border-bottom: 5px solid #6a6a6a !important;
	max-height: 4em;
	margin-top: 2em;
	margin-bottom: 2em;
	background-color: #5f5f5f;
	color: inherit;
	clip-path: polygon(5px 5px, 5px 0, calc(100% - 5px) 0, calc(100% - 5px) 5px, 100% 5px, 100% calc(100% - 5px), calc(100% - 5px) calc(100% - 5px), calc(100% - 5px) 100%, 5px 100%, 5px calc(100% - 5px), 0 calc(100% - 5px), 0 5px);
	font-family: inherit;
	font-variant: small-caps;
	letter-spacing: 1ch;
	font-size: large;
	text-shadow: 1px 1px 2px black;
}
.mcbtn:hover {
  background-color: #898989;
  font-weight: bold;
  color:wheat;
}
.mcbtn:active {
  background-color: #525252;
}

#buttons {
  flex-direction: column;
  max-width: 50%;
  padding-left: 25%;
}

.scenegraph {
	flex-direction: column;
	background-color: #1f1e1ea4;
	position:absolute;
	left: 1em;
	top: 1em;
}
.scenegraph > :nth-child(2n+1) {
	background-color: #292929d2;
}
.scenegraph-node {
	max-height: 2em;
	padding: 0.25em;
	border-radius: 0.25em;
	flex-direction: column;
}
.scenegraph-node-label {
	max-height: 1em;
}
.scenegraph-node-components {
	color: #8acdec !important;
}
